<h1>Исходные данные</h1>
<div id="number__container">
  <%= form_with id: 'number__form', method: :get, url: number_ajax_path do |form| %>
    <%= form.number_field :value, placeholder: 'Введите натуральное число', min: 1 %>
    <%= form.submit 'Получить результат' %>
  <% end %>

  <p id="number__result"></p>
</div>
