<!DOCTYPE html>
<html>
  <head>
    <title>Lr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.querySelector('#number__container');

            if (!container) return;

            const form = container.querySelector('#number__form');
            const result = container.querySelector('#number__result');

            form.addEventListener('ajax:success', function(evt) {
                const response = evt.detail[0];
                console.log(response);
                let string = "<table>\n<tr><th>Десятичная система</th><th>Двоичная система</th></tr>\n";
                for (let i = 0; i < response.result.length; i++) {
                    string += "<tr>";
                    for (let j = 0; j < response.result[i].length; j++){
                        string += "<th>" + response.result[i][j] + "</th>";
                    }
                    string += "</tr>\n";
                }
                string += "</table>";
                result.innerHTML = string || 'Ответ не получен';
            });
        });
      </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
